@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F3EE;
  color: #1C2321;
  font-variant-numeric: tabular-nums;
}

::selection {
  background-color: #2B5F5833;
}
